extends layout

block content
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" async)
  script(type="text/javascript", src="/javascripts/deferred.js" defer)
  script(type="text/javascript", defer).
    console.log('This is inline defer script. (invalid)');
    console.log('The defer attribute is only for external scripts (should only be used if the src attribute is present).')
  script(type="text/javascript").
    console.log('This is inline script.')
    function onImageLoad() {
      console.log('This is script on image loaded.');
    }

    var img = document.createElement('img');
    img.src = "/images/bmw3.png";
    img.onload = onImageLoad;

    document.body.append(img);

  script(type="text/javascript", async).
    console.log('This is inline script with async attributes. (invalid)')
  ul#slides
    each car in cars
      li.swiper-slide
        img(src=car.image, alt=car.name)
  ul#entites
    each auto in dummylist
      script(type="text/javascript").
        console.log('Entity Code # !{auto.code}');
      li.entity
        p
          span=auto.name
          code!=auto.code